
<body>

<article class="ContenedorListado">
    <h2>
      <ins>Listado clientes</ins>
    </h2>
    <div class="Leyenda" *ngIf="! clientes.length">No hay clientes por el momento</div>
  
      <aside *ngFor="let cliente of clientes">
        
          <span class="Lugar0">{{cliente.nombre}}</span>
          <span class="Lugar1">{{cliente.cif}}</span>
          <span class="Lugar2">{{cliente.direccion}}</span>
          <span class="Lugar3">{{cliente.grupo}}</span>
     
      </aside>
     
</article>

<article class="Footer">
  <p>Diseñado por Tencks | Magic's Complex</p>
  <div class="mp3"> 

    <audio controls  autoplay loop>
      <source src="./../../../assets/backSound.mp3" type="audio/mp3">
    </audio>
  </div>
  <div class="SocialRed">
    <a target="_blank" href="https://instagram.com/tencks_kun?igshid=YmMyMTA2M2Y="><img  src="./../../../assets/instagram.svg"></a> 
    <a target="_blank" href="https://es-la.facebook.com/robertino.spini"><img src="./../../../assets/facebook.svg"></a> 
    <a target="_blank" href="https://www.youtube.com/channel/UCAQ55JfKwRfQdGP3CUAE8ag"><img src="./../../../assets/youtube-play.svg"></a>
                                            
  </div>
</article>

</body>