<h2>Alta cliente</h2>
<p>
  <span>Nombre:</span>
  <input type="text" [(ngModel)]="Cliente.nombre">
</p>
<p>
  <span>CIF:</span>
  <input type="text" [(ngModel)]="Cliente.cif">
</p>
<p>
  <span>Dirección:</span>
  <input type="text" [(ngModel)]="Cliente.direccion">
</p>
<p>
  <span>Grupo:</span>
  <select [(ngModel)]="Cliente.grupo">
    <option *ngFor="let grupo of Grupos" value="{{grupo.id}}">{{grupo.nombre}}</option>
  </select>
</p>
<p>
  <button (click)="this.nuevoCliente()">Guardar</button>
</p>



  <head>
    <title>Donde tenemos la mejor colección de Lolis</title>
    <link rel="icon" type="image/x-icon" href="./assets/arroz.png"/>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

 
      <div class="resolution">
          <header><h1><ins>Las mas ricas lolis del siglo UwU</ins></h1></header>

            <div class="ToolbarLateralIzq">
              <div class="IconoToolbar"><img style="width:100%;height:100%;position: absolute;" src="./Assets/ruby_rwby_anime_drawing_cape_97228_2480x1937.jpg"></div>  
                <div class="BackgroundToolbar"></div> 
                <header>Lolis Express</header>
                  <nav class="Navigator">
                                <li><a href="Index.html">Inicio</a></li>
                                <li><a href="SobreNosotros.html">Sobre Mi</a></li>
                                <li><a href="Contacto.html">Contacto</a></li>
                                <li><a href="Coleccion.html">Coleccion</a></li>
                            </nav>

            </div>

            <div class="space">
              <div class="wrapper">
                  <div class="seven"><img style="width:100%; height:100%;" src="./Assets/date_a_live_tokisaki_kurumi_tsunako_girl_anime_girls_look_red_eyes_yellow_eyes_black_hair_dress_94761_1680x1050.jpg">
                    <div class="ImgText">
                        <h2>Bienvenido!</h2><br>
                          <p style="font-size:17px;">Dentro de esta web Front-End busco demostrar mis capacidades<br>
                            Y a su vez, deleitar sus ojos con tales obras de arte.<br>
                                  Ojala sean capaces de observar tal magnitud<br><br>

                                 Carece de varios aspectos los cuales busco como: <br>
                                 Solucionar, Mejorar y Adaptar<br>
                                Para tener un trabajo más profesional!<br><br> 

                                Dentro de la misma web tenemos 5 Secciones<br>
                                pero una se encuentra oculta<br>
                                por temas de sensibilidad al usuario (o.O)<br><br>
                          </p>
                          <br><br>
                          <h3>Te gustaría poder acceder a esa seccion prohibida? </h3><br>

                          <p style="padding: 0% 5%;"> Lo primero que te recomendaria<br>
                            seria investigar cada Seccion de arriba hacia abajo<br><br>

                              Cuando la encuentes tendrás la posibilidad de ingresar<br>
                              Pero recuerda que todo será bajo tu propia responsabilidad!<br><br>

                              Entretenete buscando :D
                          </p>
                    </div>
                      <div class="ImgText2I">
                          <h1><ins>Por favor disfrute del contenido!!</ins></h1>
                      </div>
                  </div>
              </div>    
              <div style="position:relative;height:400px;width:100%; bottom:1px;visibility:hidden;"></div>     
          </div>>

                     <!-----------------------------------------FOOTER------------------------------------------------------------------->
                     <div class="FooterPC">
                      <a target="_blank" href="https://instagram.com/tencks_kun?igshid=YmMyMTA2M2Y="><img  src="./Assets/instagram.svg"></a> 
                      <a target="_blank" href="https://es-la.facebook.com/robertino.spini"><img style="left: 40%;" src="./Assets/facebook.svg"></a> 
                      <a target="_blank" href="https://www.youtube.com/channel/UCAQ55JfKwRfQdGP3CUAE8ag"><img style="left: 45%;" src="./Assets/youtube-play.svg"></a>
                      <p>Diseñado por Tencks | Magic's Complex</p>
                  </div>
              <!-----------------------------------------FOOTER------------------------------------------------------------------->
  
  
      </div>
 
