*{
    margin: 0;
    border: 0;
    box-sizing: content-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.resolution{
    width: 100%;
}
body{
    background:url(./Assets/background.jpg)no-repeat;
    background-repeat: repeat-y;
    background-size: 100vw;
    background-position: 0vw 11vh;
}
.bodyH{
    background:url(./Assets/Loli7_1.png)no-repeat;
    background-repeat: repeat-y;
    background-size: 100vw;
    background-position: 0vw 11vh;
}
.bodyI{
    background:url(./Assets/wallpaperflare.com_wallpaper222222.jpg)no-repeat;
    background-repeat: repeat-y;
    background-size: 100vw;
    background-position: 0vw 11vh;
}
header{
    position: relative;
    top:0px;
    left: 20%;
    height: 11vh;
    width: 76vw;
    padding-left: 4%;
    font-size: 44px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    background-color: black;
    color: #0f9939;
}

header h1:hover{
    color:#00ffaa;
    transition: 0.5s;
}
.ToolbarLateralIzqH{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height:100%;
    border-right: 2px solid black;
    background:linear-gradient(90deg,#F22555 40%,#d10c3a);
    z-index: 50;
}
.ToolbarLateralIzqH audio{
    position: absolute;
    bottom: 0%;
    width: 100%;
}
.ToolbarLateralIzqH header{
    color:#000000;
    position: absolute;
    background-color: transparent;
    display: flex;
    top:35%;
    left: 0;
    font-size: 28px;
    text-align: center;
    width: 85%;
    height: 5%;
}
.BackgroundToolbarH{
    position: relative;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: -1;
}
.IconoToolbarH{
    border-bottom: 2px solid black;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width:100%;
    height: 32%;
}
.NavigatorH{
    position: absolute;
    top:42%;
    width: 92%;
}
.NavigatorH li{
    font-size: 34px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
    border-radius: 0px;
    cursor: pointer;
    list-style: none;
    background:linear-gradient(90deg,#F22555 40%,#d10c3a);
    display: flex;
    text-align: center;
    padding: 15px;
}

.NavigatorH a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.NavigatorH a:hover{
    width: 100%;
    background:linear-gradient(90deg,#da224d 40%,#b80a33);
    color: rgb(90, 20, 220);
    transition: 0.3s;
}
.NavigatorH li:hover{
    background:linear-gradient(90deg,#da224d 40%,#b80a33);
}



.ToolbarLateralIzq{
    position: fixed;
    top: 0;
    left: 0;
    width: 20%;
    height:100%;
    border-right: 2px solid black;
    background:linear-gradient(90deg,#00ffaa 40%,#057e56);
    z-index: 50;
}
.ToolbarLateralIzq audio{
    position: absolute;
    bottom: 0%;
    width: 100%;
}
.ToolbarLateralIzq header{
    color:#ff247f;
    position: absolute;
    background-color: transparent;
    display: flex;
    top:35%;
    left: 0;
    font-size: 28px;
    text-align: center;
    width: 85%;
    height: 5%;
}
.BackgroundToolbar{
    position: relative;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background-color: black;
    opacity: 0.1;
    z-index: -1;
}
.IconoToolbar{
    border-bottom: 2px solid black;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width:100%;
    height: 32%;
}
.Navigator{
    position: absolute;
    top:42%;
    width: 92%;
}
.Navigator li{
    font-size: 34px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    width: 100%;
    border-radius: 0px;
    cursor: pointer;
    list-style: none;
    background:linear-gradient(90deg,#00ffaa 40%,#057e56);
    display: flex;
    text-align: center;
    padding: 15px;
}
.Navigator a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.Navigator a:hover{
    width: 100%;
    background: linear-gradient(90deg,#6413e7 45%,#481a92 );
    color: crimson;
    transition: 0.3s;
}
.Navigator li:hover{
    background: linear-gradient(90deg,#6413e7 45%,#481a92 );
}
img{
    width: 40vw;
    height: 30vh;
}

.wrapper{
    margin-left: 22%;
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    grid-auto-rows: minmax(100px, auto);
}
.first {
    background-color: bisque;
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    border:2px solid black;
  }
  .second {
    background-color: blue;
    grid-column: 2 / 2;
    grid-row: 1 / 6;
    border:2px solid black;
  }
  .three {
    background-color: cadetblue;
    grid-column: 1;
    grid-row: 6 / 4;
    border:2px solid black;
  }
  .four {
    background-color: bisque;
    grid-column: 1 / 2;
    grid-row: 1 / 6;
    border:2px solid black;
  }
  .five {
    background-color: blue;
    grid-column: 2 / 2;
    grid-row: 1 / 4;
    border:2px solid black;
  }
  .six {
    background-color: cadetblue;
    grid-column: 2;
    grid-row: 6 / 4;
    border:2px solid black;
  }
  .seven {
    background-color: cadetblue;
    grid-column: 1 / 3;
    grid-row: 1 ;
    border:2px solid black;
  }
  .space{
      position: relative;
      height: 30%;
      width: 100%;
  }
  .ImgText{
      position: absolute;
      top:0;
      left: 24%;
      height: 40%;
      width: 30%;
  }
  .ImgText2{
    position: absolute;
    bottom:45%;
    left: 24%;
    height: 7%;
    width: 35%;
}
.ImgText2I{
    position: absolute;
    bottom:43%;
    left: 24.8%;
    height: 7%;
    width: 35%;
}

.ImgText2I h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 45px;
    color: rgb(240, 224, 0);
}
.ImgText2 h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 45px;
    color: indianred;
}
.wrapper img{
    width: auto;
}
.FooterPC{
    position: relative;
    bottom: 0;
    left: 20%;
    height: 75px;
    background-color: rgb(17, 17, 17);
    width: 80%;
    border-top: 2px solid red;
}
.FooterPC img {
    width: 30px;
    height: 30px;
    margin-left: 20px;
    position: absolute;
    bottom: 40%;
    left: 35%;
}
.FooterPC p{
    color: mediumvioletred;
    position: absolute;
    bottom: 3%;
    text-align: center;
    left: 34%;
}

/**ANUNCIO DE ACEPTAR*/
.Anuncio{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color:rgb(104, 104, 104);
    visibility: visible;
    display: flex;
    opacity: 0.6;
    z-index: 200;
    visibility: visible;
}

.CotenedorAnuncio{
    box-shadow: 0px 0px 5px 10px black;
    border:1px solid rgb(0, 255, 170);
    border-radius: 2px;
    position: absolute;
    display: flex;
    height: 20%;
    width: 35%; 
    background-color:rgb(59, 212, 161);
    top:35%;
    left: 30%;
    z-index: 250;
    opacity: 1;
    visibility: visible;
}
.CotenedorAnuncio header{
    position: absolute;
    top: 0;
    left: 0;
    height: 20%;
    width: 96%;
    text-align: center;
    line-height: 150%;
    color: rgb(245, 188, 119);
    font-size: 22px;
    border-bottom: 1px solid rgb(0, 255, 170);
}
.CotenedorAnuncio p{
    position: absolute;
    left: 8%;
    bottom: 36%;
    font-size: 20px;
}
.CotenedorAnuncio button{
    position: absolute;
    bottom: 5%;
    height: 15%;
    width: 20%;
    background-color: black;
    border:1px solid gray;
}
.CotenedorAnuncio button:hover{
    background-color: rgb(17, 17, 17);
    font-size:17px;
    font-weight: 600;
}
.CotenedorAnuncio label{
    position: absolute;
    bottom: 5%;
    height: 15%;
    width: 20%;
}
.Acepto{
    left: 5%;
}

.Salir{
    right: 5%;
}

/**ANUNCIO DE ACEPTAR*/